---
title: About - TEUN.SPACE
meta_desc: Teun is an 8yo human who likes to draw.
url: https://eleventy-gallery.netlify.app/about
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Hi, I'm {{ site.author.firstName }}. I am an 8 year old human who lives in Germany. I speak Dutch, German and a little Swedish. I love to draw and color, and I want to show you what I've made. I hope you like it here!
</div>