---
pagination:
    data: collections.images
    size: 1
    alias: image
permalink: "/gallery/{{ image.data.title | slug }}/"
url: https://eleventy-gallery.netlify.app
---
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        {% metagen 
            title=title,
            desc=meta_desc,
            url=url,
            img=url + img,
            img_alt=alt,
            twitter_card_type=cardType,
            name=site.author.firstName,
            comments=false
        %}
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
        <link rel="manifest" href="/favicon_data/site.webmanifest">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/reset.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
          WebFont.load({
            google: {
              families: ['Luckiest Guy']
            }
          });
        </script>
    </head>
    <body>
        <a href="#main" class="skip-link">Skip to main content</a>
        {% include "partials/nav.njk" %}
        <main id="main" class="main-container">
                <div class="pagination">
                    <div class="prev-next">
                    {% if pagination.href.previous %}
                        <a class="prev" href="{{ pagination.href.previous }}"><span class="lt">&lt;</span> Prev</a>
                    {% endif %}
                    {% if pagination.href.next %}
                        {% if not pagination.href.previous %}
                        <a class="next" style="margin-left: auto; margin-right: 0;" href="{{ pagination.href.next }}">Next <span class="gt">&gt;</span></a>
                        {% else %}
                        <a class="next" href="{{ pagination.href.next }}">Next <span class="gt">&gt;</span></a>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            <div class="featured-img">

                <div class="image-container">
                    <div class="image-description">
                        <h1 class="h2">{{ image.data.title }}</h1>
                    </div>

                    {% img image.data.imageSrc, image.data.imageAlt, [300, 480, 640, 1024], "showcase-img", "(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw, true" 
                    %}
                    <div class="image-description">
                        <p>{{ image.data.imageAlt }}</p>
                    </div>

                </div>
            </div>
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>