---
eleventyNavigation:
  key: Home
  order: 0
heading: Gallery
description: A collection of recent drawings.
layout: main.njk
title: TEUN.SPACE
meta_desc: A gallery website by Teun.
url: https://www.teun.space
img: /images/teun-space-logo.webp
alt: A victorious dinosaur drawn in a Minecraft world.
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}