---
eleventyNavigation:
  key: Home
  order: 0
heading: Teun's drawings
description: A collection of recent drawings.
layout: main.njk
title: TEUN.SPACE
meta_desc: A gallery website by Teun.
url: https://www.teun.space
img: /images/teun-space-logo.webp
alt: A victorious dinosaur drawn in a Minecraft world.
cardType: summary_large_image
---

{% include "partials/home-gallery.njk" %}