<div class="gallery">
    <ul class="gallery-list">
        {% for image in collections.images %}
        <li class="gallery-item">
            <div class="image-block">
                <a
                    href="{{ image.data.title | slug }}"
                    aria-label="Gallery image {{ image.data.title }}"
                >
                {% img
                    src=image.data.src,
                    alt=image.data.alt,
                    className="gallery-photo",
                    sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 950px) 50vw, 33.3vw"
                %}
                </a>
                <div class="block-details">
                    <p>{{ image.data.date }}</p>
                    <h2><a href="/gallery/{{ image.data.title | slug }}">{{ image.data.title }}</a></h2>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
