<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} – Drawings by {{ site.author.firstName }}. Built with Eleventy</a></p>
        </div>
    </div>
</footer>