<div class="gallery">
  <ul class="image-grid">
    {% for image in collections.images %}
    <li class="image-container">
        <a
          href="/gallery/{{ image.data.title | slug }}"
          aria-label="Gallery image {{ image.data.title }}"
        >
          {% img
            src=image.data.src,
            alt=image.data.alt,
            className="grid-image",
            sizes="(min-width: 600px) 50vw, (min-width: 800px) 100vw, 33.3vw"
          %}
        </a>
    </li>
    {% endfor %}
  </ul>
</div>
