<div class="gallery">
  <ul class="image-grid">
    {% for image in collections.images %}
      <li class="image-container">
        <a
          href="/gallery/{{ image.data.title | slug }}"
          aria-label="Gallery image {{ image.data.title }}"
        >
        {% img image.data.imageSrc, image.data.imageAlt, [300, 480, 640, 1024], "showcase-img", "(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" %}

        </a>
      </li>
    {% endfor %}
  </ul>
</div>
